
<%= render 'form' %>

<div class="well pull-left" style="width:495px; margin:5px auto 0px;">
  <%= link_to '查看', @namesearch,class:'btn btn-block' %>
</div>

<div class="well pull-right" style="width:495px; margin:5px auto 0px;">
  <%= link_to '返回', namesearches_path,class:'btn btn-block'  %>
</div>
