<!-- global nav file -->

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/namesearches"><i class="icon-leaf icon-white"></i> &nbsp;名称推荐</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <a href="/tagsearches"><i class="icon-tags icon-white"></i> &nbsp;标签推荐</a>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
            <a href="/movies"><i class="icon-fire icon-white"></i> &nbsp;猜电影</a>
          </li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr style="margin:47px 0px 10px 0px;">

