/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require select2
 */
body {
    background-image: url("/assets/bg.png");
}
.title-border-left {
    border-left: 8px solid #d14533;
    padding-left: 22px;
}
.t-center {
    text-align: center !important;
	vertical-align: middle !important;    
}
.s {
	width: 270px;
}
.r {
    margin-right: 5px;
}
.rr {
    margin-right: 3px;
}
.rrr {
	margin-right: 26px;
}
